body{
    background-color: lightgray;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
}
header{
    display: block;
    background-color: black;
    height: 20%;
    position: relative;
}
div.logo>a>img{
    max-width: 4%;
}
div.logo{
    position: absolute;
    left: 10%;
    bottom: 5%;
    max-width: 40%;
    font-size: 4vw;
    color: white;
    width: auto;
}
.content-1>div.log-in{
    max-width: 50%;
}
div.logo>a{
    text-decoration: none;
    color:white;
}
.content-1>*{
    position: absolute;
    display: inline-block;
    right: 1vw;
    bottom: 10%;
    width: auto;
}
.content-1>div.log-in{
    margin-right: 30%;
    width: auto;
}
.content-1>div.log-in>a{
    font-size: 2vw;
    color: white;
    text-decoration: none;
}
.content-1>div.log-in>a>.fa-user{
    margin: 0;
    padding: 0;
}
.group-search{
    position: absolute;
    right: 5%;
    display: block;
    max-width: 20%;
}
div.content-1>div.group-search>input{
    max-width: 70%;
    height: 10%;
    float: left;
    color: white;
    background-color: black;
    border: 0.1vw solid white;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 10%;
}
div.content-1>div.group-search>input:focus{
    border: none;
    box-shadow: 0 0 1px white;
}
.fa-magnifying-glass{
    color: white;
    font-size: 2vw;
    padding: 0;
}
header>.content-1>.group-search>button{
    background-color: gray;
    float: right;
    margin-right: 10%;
    border: none;
}
h1{
    margin: 10% 30% 10% 10%;
    padding: 0px;
    font-size: 2vw;
    font-variant: small-caps;
    font-weight: bold;
}