article{
    float: right;
    max-height: 400vw;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 75%;
}

.box{
    display: inline-block;
    background-color: white;
    position: relative;
    height: auto;
    margin: 0.5%;
}
.box:hover{
  box-shadow: inset 0 0 30px black;
}
hr{
    height: 2%;
    border: none;
    background-color: black;
    margin: 3% 0%;
}
.box>a{
    font-size: 3vw;
    text-align: justify;
    color:black;
    text-decoration: none;
    margin-top: 2%;
}
.box>a:hover{
    text-decoration: underline;
}
.box>a>img{
    width: 20vw;
    height: 15vw;
}
h2{
    padding: auto;
    margin: auto;
    font-size: 3.2vw;
}
.box>span{
    font-size: 2vw;
    color: grey;
}


.article-page{
    float: right;
    display: inline;
}
.article-page>a{
    font-size: 2vw;
    color: black;
    text-decoration: none;
    margin-top: 0%;
    padding: 0%;
    line-height: normal;
}
.article-page>a:hover{
    font-weight: bold;
    text-decoration: underline;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: -1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #717171;
}
.text>a{
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 2% 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}