aside{
    display: block;
    float: left;
    margin-top: 2%;
    width: 23%;
    margin-left: 0.5%;
    height: auto;
    font-size: 2vw;
    position: relative;
}
aside>.as>.remember{
    height: auto;
    font-weight: bolder;
}
aside>.as>.group{
    display: block;
    height: auto;
    margin: auto;
    padding: 0%;
    background-color: white;
}
.group>li{
    display: inline;
}
.group>li>a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 2vw;
    font-style: italic;
}
.group>li>a:hover{
    color: white;
    background-color: black;
    font-size: 2.1vw;
}
aside>.as>.group>li>hr{
    height: 0.1vw;
    margin: 1% 2%;
}