nav{
    height: auto;
    background-color: white;
    margin: 0%;
    padding: 0%;
    display: block;
}
.menu{
    padding: 0%;
    height: auto;
    margin: auto;
}
.menu>li{
    display: inline;
    position: relative;
    text-align: center;
    list-style: none;
    line-height: 120%;
}
nav>.menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    line-height: 140%;
    padding-right: 2%;
    padding-left: 2%;
    margin: 2% 0%;
}
nav>.menu>li>a:hover{
    background-color: darkgray;
    font-size: 2.5vw;
    box-shadow: 0 0 1px black;
}
.menu>li>ul{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.menu>li>ul>li{
    position: relative;
    height: auto;
    background: #999999;
}
.menu>li>ul>li>a{
    display: block;
    line-height: 150%;
    color: black;
    text-decoration: none;
    font-size: 2vw;
    padding: 2% 2%;
}
.menu>li:hover>ul{
    display: block;
}
.menu>li>ul>li>a:hover{
    background-color: black;
    color: white;
}