article{
    float: right;
    max-height: 400vw;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 75%;
}
table{
    border-collapse: collapse;
    border-style:outset;
    background-color: white;
    width: 100%;
    height: auto;
}
.logo{
    display: block;
    width: 30%;
    margin: 0 auto;
    height: auto;
}
h2{
    padding: auto;
    margin: auto;
    font-size: 3.2vw;
}
hr{
    height: 2%;
    border: none;
    background-color: black;
    margin: 3% 0%;
}